{% extends "base_session.html" %}

{% block css_styles %}
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: auto auto;
        }

        .permission-container {
            margin-bottom: 15px;
        }
    </style>
{% endblock %}

{% block content %}
    <h2>Collection: {{ logical_path }}</h2>
    <h2>Collection ID: {{ coll_id }}</h2>

    <p>
        <form action="" method="post">
            <input name="coll_id" type="text" value="{{ coll_id }}" hidden required />
            <button>Delete Collection</button>
        </form>
    </p>

    <h3>Collection Information</h3>

    <div class="grid-container">
        <div>Inheritance Enabled:</div>
        <div>{{ coll_info['inheritance_enabled'] }}</div>

        <div>Created At:</div>
        <div>{{ coll_info['created_at'] }}</div>

        <div>Modified At:</div>
        <div>{{ coll_info['modified_at'] }}</div>
    </div>

    {% include 'metadata.html' %}
    {% include 'permissions.html' %}
{% endblock %}

{% block js_script %}{% endblock %}
