{% extends "base_session.html" %}

{% block css_styles %}
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: 15em auto;
        }

        .permission-container {
            margin-bottom: 15px;
        }

        .data-object-buttons {
            display: flex;
            gap: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <h2>Data Object: {{ logical_path }}</h2>
    <h2>Data ID: {{ data_id }}</h2>

    <div class="data-object-buttons">
        <form action="" method="post">
            <input name="data_id" type="text" value="{{ data_id }}" hidden required />
            <button>Download Data Object</button>
        </form>

        <form action="" method="post">
            <input name="data_id" type="text" value="{{ data_id }}" hidden required />
            <button>Delete Data Object</button>
        </form>
    </div>

    <h3>Replica Information</h3>

    {% for d in replicas %}
    <div class="grid-container">
        <div>Replica Number:</div>
        <div>{{ d[2] }}</div>

        <div>Status:</div>
        <div>{{ d[3] }}</div>

        <div>Size:</div>
        <div>{{ d[4] }} </div>

        <div>Physical Path:</div>
        <div>{{ d[5] }}</div>

        <div>Checksum:</div>
        <div>{{ d[6] }}</div>

        <div>Resource Name:</div>
        <div>{{ d[7] }}</div>

        <div>Created At:</div>
        <div>{{ d[8] }}</div>

        <div>Modified At:</div>
        <div>{{ d[9] }}</div>
    </div>
        {% if loop.nextitem %}
    <br />
        {% endif %}
    {% endfor %}

    {% include 'metadata.html' %}
    {% include 'permissions.html' %}
{% endblock %}

{% block js_script %}{% endblock %}
