{% extends "base_session.html" %}

{% block content %}
    <h2>Current Working Collection: {{ current_collection }}</h2>

    <form action="{{ url_for('filesystem') }}" method="get">
        <label>Change Collection To: </label>
        <input name="collection" type="text" value="{{ current_collection }}" required />
        <button>Go</button>
    </form>

    <div>
        <h3>Collections</h3>

        {% if collections %}
        <table>
            <thead>
                <tr>
                    <th style="text-align: start;">Name</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody id="collections">
                {% for id, cn in collections %}
                <tr>
                    <td>{{ cn }}</td>
                    <td><button id="view_details" data-irods-coll-id="{{ id }}">View</button></td>
                    <td><button id="delete" data-irods-coll-id="{{ id }}">Delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <form id="for_collection_info" action="/collection-info" method="get" hidden>
            <input name="coll_id" type="text" required />
            <button></button>
        </form>
        {% else %}
        <p>- No collections found - </p>
        {% endif %}
    </div>

    <div>
        <h3>Data Objects</h3>

        {% if data_objects %}
        <table>
            <thead>
                <tr>
                    <th style="text-align: start;">Name</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody id="data_objects">
                {% for id, _, dn in data_objects %}
                <tr>
                    <td>{{ dn }}</td>
                    <td><button id="view_details" data-irods-data-id="{{ id }}">View</button></td>
                    <td><button id="delete" data-irods-data-id="{{ id }}">Delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <form id="for_data_object_info" action="/data-object-info" method="get" hidden>
            <input name="data_id" type="text" required />
            <button></button>
        </form>
        {% else %}
        <p>- No data objects found - </p>
        {% endif %}
    </div>
{% endblock %}

{% block js_script %}
    {{ super() }}

    <script>
        "use strict";

        $(function() {
            $("#collections button#view_details").on("click", function() {
                // Find the collection id associated with the table row and submit
                // a request to fetch the details of the collection.
                var id = $(this).data('irods-coll-id');
                console.log('view details id = ' + id);

                var $form = $('form#for_collection_info');
                $form.find('input').val(id);
                $form.trigger('submit');
            });

            $("#collections button#delete").on("click", function() {
                console.log('clicked delete button!');

                // Find the collection id associated with the table row and submit
                // a request to fetch the details of the collection.
                var id = $(this).data('irods-coll-id');
                console.log('delete id = ' + id);
            });

            $("#data_objects button#view_details").on("click", function() {
                console.log('clicked view details button!');

                // Find the data id associated with the table row and submit
                // a request to fetch the details of the data object.
                var id = $(this).data('irods-data-id');
                console.log('view details id = ' + id);

                var $form = $('form#for_data_object_info');
                $form.find('input').val(id);
                $form.trigger('submit');
            });

            $("#data_objects button#delete").on("click", function() {
                console.log('clicked delete button!');

                // Find the data id associated with the table row and submit
                // a request to fetch the details of the data object.
                var id = $(this).data('irods-data-id');
                console.log('delete id = ' + id);
            });
        });
    </script>
{% endblock %}
