<!doctype html>
<html>
    <head>
        <title>{{ title }} - MinGR</title>

        <style>
            .results-container {
                margin-top: 20px;
            }
        </style>
    </head>

    <body>
        <h1>Minimalist GUI for iRODS - {{ title }}</h1>

        <h2>Query Input</h2>
        <div>
            <div><label for="query_string">Enter Your Query:</label></div>
            <textarea id="query_string" name="query_string" rows="5" cols="80" required>select COLL_NAME, DATA_NAME</textarea>
            <div><button id="execute">Submit</button></div>
        </div>

        <h2>Query Results</h2>
        <div class="results-container">
            <div>Previous Query String: <span id="previous_query_string"></span></div>
            <textarea id="results" rows="30" cols="80" readonly></textarea>
        </div>
    </body>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script>
        "use strict";

        $(function() {
            $('button#execute').on("click", function(e) {
                //e.preventDefault();

                const query_string = $('textarea#query_string').val();
                const expected_data_type = 'text'; // This is how the formatting is maintained.
                
                $.get('/query', {query_string: query_string}, function(data) {
                    $('#previous_query_string').text(query_string);
                    $('#results').text(data);
                }, expected_data_type);
            });
        });
    </script>
</html>
